* {
  box-sizing: border-box;
}
:root {
  --font-heding: "Sen", sans-serif;
  --btn-color: #ffb900;
}
html {
  font-size: 62.5%;
}
/* khôi phục lại chữ mặc định  theo rem 1 rem= 10px=>1.6rem= 16px   */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* =================common===== */
.break-all {
  word-break: break-all;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
  position: relative;
}
.heading-lv2 {
  color: #171100;
  font-family: var(--font-heding);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27; /* 126.316% */
  letter-spacing: -0.76px;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp.line-2 {
  --line-clamp: 2;
}
.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 24.5px;
  background: #171100;
}
.btn {
  border-radius: 999px;
  background: #171100;
}
.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
/* ========header======== */
.header {
  background: #fffcf4;
}
.header.fixed {
  z-index: 1;
  position: sticky;
  top: -28px;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 6px;
}
.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}
.nav a {
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
}
.nav li.active a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: #171100;
}
.header .signup {
  min-width: 144px;
}
.header .action {
  margin-left: 49px;
}

/* ========hero============ */
.hero {
  padding: 56px 0 65px;
  background-color: #fffcf4;
}
.hero .body {
  display: flex;
}
/* =======hero-left ======*/
.hero .media-block {
  width: 48%;
  position: relative;
}
.hero .media-block .img {
  height: 685px;
  width: 470px;
  object-fit: cover;
  border-radius: 20px;
}
.hero .hero-sumery {
  padding: 24px;
  width: 270px;
  position: absolute;
  bottom: 48px;
  right: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}
.hero-sumery .item {
  display: flex;
  align-items: center;
}
.hero-sumery .item + .item {
  margin-top: 22px;
}
.hero-sumery .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff9e8;
}
.hero-sumery .icon2 {
  background-color: #fcefff;
}
.hero-sumery .icon2 {
  background-color: #ebeaff;
}
.hero-sumery .infor {
  margin-left: 16px;
}
.hero-sumery .lable {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
}
.hero-sumery .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67px; /* 166.667% */
}
/* =======hero-right======== */
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}
.hero .heading {
  color: #171100;
  font-family: var(--font-heding);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17; /* 117.241% */
  letter-spacing: -1.16px;
}
.hero .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.66; /* 166.667% */
}
.hero .cta-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
}
.hero .btn-seecourse {
  min-width: 180px;
  /* border-radius: 32px; */
  line-height: 64px;
  background: var(--btn-color);
}
/* ====== */
.hero .watch-video {
  display: flex;
  margin-left: 28px;
  border: none;
  background: transparent;
  align-items: center;
  cursor: pointer;
}
.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
}
.hero .watch-video span {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
  margin-left: 14px;
}
.hero .desc-recent {
  margin-top: 48px;
}
.hero .start {
  margin-top: 8px;
}
.hero .start strong {
  color: #171100;
  font-family: var(--font-heding);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23x; /* 122.727% */
  margin-right: 15px;
}
.hero .start strong:nth-child(2) {
  margin-left: 28px;
}
/* ============popular========= */
.popular {
  padding: 65px 0;
  margin-top: 135px;
}
.popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular-top .desc {
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}
.popular-top .control {
  display: flex;
  gap: 18px;
}
.popular-top .control-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--btn-color);
  border: 1px solid var(--btn-color);
}
.popular-top .control-btn:hover {
  background-color: var(--btn-color);
  color: #fff;
  cursor: pointer;
}
.popular .popular-bottom {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}
.popular .thumb {
  width: 100%;
  height: 278px;
  border-radius: 12px 12px 0 0;
  object-fit: over;
}
.popular .course-item {
  flex: 1;
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
}
.popular .course-item:hover {
  border: 1px solid transparent;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
}
.popular .course-item .chitiet {
  padding: 16px 22px 22px;
}
.popular .course-item .ket,
.popular .course-item .boc,
.popular .course-item .dau {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular .course-item .left a {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}
.popular .boc .value {
  margin-left: 6px;
  color: #fea31b;
  font-size: 1.6rem;
  font-weight: 400;
}
.popular .course-item .desc {
  margin-top: 6px;
  color: #5f5b53;
  font-size: 1.4;
  line-height: 1.86; /* 185.714% */
}
.popular .course-item .ket {
  margin-top: 12px;
}
.popular .course-item .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}
.popular .course-item .btn-book {
  border: none;
}
.popular .course-item .btn-book:hover {
  background: var(--btn-color);
}
/* ==============feedback============== */
.feedback {
  margin-top: 135px;
  padding: 96px 0;
  background: #2e2100;
}
.feedback-list {
  display: flex;
}
.feedback-item {
  display: flex;
}
.feedback-item .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: over;
}
.feedback-item .infor .member-name {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: var(--font-heding);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42; /* 141.667% */
}
.feedback-item .infor .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}
.feedback-item .dots {
  margin-top: 28px;
  display: flex;
  gap: 6px;
}
.feedback-item .dot {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #634700;
  cursor: pointer;
}
.feedback-item .dot.active {
  background: var(--btn-color);
  cursor: default;
}
.feedback-item .content {
  width: 66%;
  margin-left: auto;
}
.feedback-item blockquote {
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 1.54; /* 153.846% */
}
/* =========feature-1========== */
.feature {
  margin-top: 135px;
  padding: 65px 0;
}
.feature .body {
  display: flex;
  justify-content: space-between;
}
.feature .image {
  display: flex;
  gap: 30px;
}
.feature .image img {
  width: 270px;
  height: 405px;
  object-fit: cover;
  border-radius: 16px;
}
.feature .lower {
  margin-top: 34px;
}
.feature .content {
  width: 41%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.feature .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}
.feature .cta {
  margin-top: 32px;
  width: 137px;
  height: 50px;
  background: var(--btn-color);
}
/* =========feature-2========== */
.feature-2nd {
  margin-top: 70px;
}
.feature-2nd .body {
  flex-direction: row-reverse;
}
.feature-2nd .content {
  width: 49%;
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
}
.feature-2nd .image img {
  width: 470px;
  height: 440px;
}
/* ========blog======== */
.blog {
  margin-top: 135px;
  padding: 96px 0;
  background: #fffcf4;
}
.blog .blog-top {
  text-align: center;
}
.blog .blog-top .desc {
  width: 448px;
  color: #696262;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
  margin: 16px auto 0;
}
.blog .blog-bottom {
  display: flex;
  margin-top: 55px;
  gap: 30px;
}
.blog .item {
  width: 33.33%;
  border-radius: 16px;
  background: #fff;
}
.blog .item:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}
.blog .item .thumb {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}
.blog .infor {
  padding: 20px 20px 28px;
}
.blog .item .date {
  position: relative;
  display: inline-flex;
  align-items: center;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
  padding-bottom: 12px;
}
.blog .item .date::before {
  margin-right: 4px;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--btn-color);
}
.blog .item .date::after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: -27px;
  content: "";
  display: inline-block;
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
}
.blog .title {
  margin-top: 12px;
  color: #171100;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.75; /* 175% */
}
.blog .item .btn {
  margin-top: 12px;
}
.blog .item .btn:hover {
  background: var(--btn-color);
}
